body{
	background-color: gray;
}

header.presentation{
background-color: white;
padding: 20px;
display: flex;
align-items: center;
padding: 50px;
justify-content: space-between;
 width: 55%;
 margin-left: auto;
 margin-right: auto;
 border-radius: 15px;
 box-shadow: 0 0 10px rgba(0, 0, 0, 0.6);
 }


}
.d1
{
	flex: 1;
	display: inline-block;
	width: 30%;
	background-color: white;
	margin: 10px;
	padding: 10px;
	text-align: center;
}
.im1
{
	margin-left: 80%;
	display: inline-block;
	width: 60%;
	background-color: white;
	margin: 10px;
	padding: 50px;
	text-align: center;
	
	margin-right: auto;
}
section.s1
{
background-color: white;
display: flex;


 width: 55%;
 margin-left: auto;
 margin-right: auto;
 border-radius: 15px;
 margin-top: 15px;

 height: 350px;
 padding: 50px;
 box-shadow: 0 0 10px rgba(0, 0, 0, 0.6);
 }
.f1
{

}
.d3{

 flex: 1;
	display: inline-block;
    height: 50px;
	background-color: white;
	margin: 50px;
	padding: 50px;
	text-align: left;
	vertical-align: middle;
	line-height: 50px;
}
.d4{

 flex: 1;
	display: inline-block;
    height: 50px;
	background-color: white;
	margin: 50px;
	padding: 40px;
	text-align: left;
	vertical-align: middle;
	line-height: 25px;
}
.d5{

 flex: 1;
	display: inline-block;
    height: 50px;
	background-color: white;
	margin: 50px;
	padding: 50px;
	text-align: left;
	vertical-align: middle;

}
.d6{

 flex: 1;
	display: inline-block;
    height: 50px;
	background-color: white;
	margin: 50px;
	padding: 40px;
	text-align: left;
	vertical-align: middle;
	line-height: 32px;

}
section.s2
{
background-color: white;
display: flex;


 width: 55%;
 margin-left: auto;
 margin-right: auto;
 border-radius: 15px;
 margin-top: 15px;

 height: 550px;
 padding: 50px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.6);
}
 .d7{

 flex: 1;
	display: inline-block;
    height: 50px;
	background-color: white;
	margin: 75px;
	padding: 50px;
	text-align: left;
	vertical-align: middle;
	line-height: 35px;

}
.d8{

 flex: 1;
	display: inline-block;
    height: 50px;
	background-color: white;
	margin: 50px;
	padding: 40px;
	text-align: left;
	vertical-align: middle;
	line-height: 38px;

}
section.s2
{
background-color: white;
display: flex;


 width: 55%;
 margin-left: auto;
 margin-right: auto;
 border-radius: 15px;
 margin-top: 15px;

 height: 550px;
 padding: 50px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.6);

 }
 .d10{

 flex: 1;
	display: inline-block;
    height: 50px;
	background-color: white;
	margin: 35px;
	padding: 50px;
	text-align: left;
	vertical-align: middle;
		line-height: 35px;



}
.d9{

 flex: 1;
	display: inline-block;
    height: 50px;
	background-color: white;
	margin: 50px;
	padding: 40px;
	text-align: left;
	vertical-align: middle;


}
section.s3
{
background-color: white;
display: flex;


 width: 55%;
 margin-left: auto;
 margin-right: auto;
 border-radius: 15px;
 margin-top: 15px;

 height: 550px;
 padding: 50px;
 box-shadow: 0 0 10px rgba(0, 0, 0, 0.6);
}